<!doctype html>
<html lang='zh-CN'>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="岭南乳业有限公司, 羊奶, 时代羊奶"/>
    <meta name="description" content="岭南乳业有限公司" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="<%= context.config.publicPath %>favicon.ico" />
    <link rel="icon" href="<%= context.config.publicPath %>icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= context.config.publicPath %>apple-touch-icon.png">
    <link rel="manifest" href="<%= context.config.publicPath %>manifest.json">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>
</html>
